.recommenders
.project
.classpath
.settings
.gradle
.metadata
bin
build
target
idea
.idea
mukatee-osmo
osmo-tester
classes/
/as-völundr-developer/.i-cached/
/as-völundr-developer/with/bash/iwant/list-of/
/as-völundr-developer/with/bash/iwant/side-effect/
